
        body{
            background:#c1c1c1;
            margin-block-end: 40%;
            

        
        }
        #header{
            margin-left: 40%;
        }

        
        
       
        
    